@tailwind base;
@tailwind components;
@tailwind utilities;

.bgImage{
  background-image: url('assests/car.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

